pip
bump2version
wheel
pre-commit
pyupgrade
isort
black
blacken-docs
flake8
git+https://github.com/python/mypy.git#egg=mypy
pydocstyle
tox
coverage
Sphinx
twine
pydantic

pytest>=6.2.5
pytest-runner
pytest-cov